<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/estateagent/properties/create/') ?>"
        class="btn btn-primary oc-icon-plus">New</a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete these Properties?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete
    </button>

    <a
        href="<?= Backend::url('monologophobia/estateagent/searchablefeatures/') ?>"
        class="btn btn-warning oc-icon-search">Manage Searchable Features</a>
    <a
        href="<?= Backend::url('monologophobia/estateagent/purchasetypes/') ?>"
        class="btn btn-warning oc-icon-money">Manage Purchase Types</a>
    <a
        href="<?= Backend::url('monologophobia/estateagent/propertystatuses/') ?>"
        class="btn btn-warning oc-icon-list">Manage Property Statuses</a>
    <a
        href="<?= Backend::url('monologophobia/estateagent/propertytypes/') ?>"
        class="btn btn-warning oc-icon-building-o">Manage Property Types</a>
    <a
        href="<?= Backend::url('monologophobia/estateagent/paymenttypes/') ?>"
        class="btn btn-warning oc-icon-calendar">Manage Payment Schedules</a>

</div>
