<div class="grid">
    <div class="column one-third property-images">
        {% for image in property.images %}
        <img src="{{ image.getPath() }}" alt="{{ property.name }}" />
        {% endfor %}
    </div>
    <div class="column one-third property-description">
        <h1>{{ property.name }}</h1>
        {{ property.description|raw }}
        <address>{{ property.address }}<br />{{ property.postcode }}</address>
        <ul>
            <li>{{ property.getTypeOptions()[property.type] }}</li>
            <li>Nearest Tube: {{ property.nearest_tube }}</li>
            <li>Number of Bedrooms: {{ property.bedrooms }}</li>
            <li>Price: &pound;{{ property.price }} {{ property.getPaymentTypeOptions()[property.payment_type] }}</li>
            {% for feature in property.features %}
            <li>{{ property.getFeaturesOptions()[feature] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column one-third">
        Position on Map
    </div>
</div>