<div class="grid">
    <div class="one-third">
        {% partial '@search' %}
        <div id="map"></div>
    </div>
    <div class="two-thirds">
        {% for property in properties %}
        <div class="property grid">
            <div class="column one-quarter">
                <img src="{{ property.images[0].getPath() }}" alt="{{ property.name }}" />
            </div>
            <div class="column three-quarters">
                {# again, I should figure out a way to not hard code this url #}
                <h2><a href="/properties/{{ property.id }}" title="{{ property.name }}">{{ property.name }}</a></h2>
                <ul>
                    <li>Distance from location: {{ property.distance }} miles</li>
                    <li>{{ property.getTypeOptions()[property.type] }}</li>
                    <li>Nearest Tube: {{ property.nearest_tube }}</li>
                    <li>Number of Bedrooms: {{ property.bedrooms }}</li>
                    <li>Price: &pound;{{ property.price }} {{ property.getPaymentTypeOptions()[property.payment_type] }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js&key={{ key }}"></script>
<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', init);
function init() {
    var mapOptions = {
        zoom: 11,
        center: new google.maps.LatLng({{ lat_long.latitude }}, {{ lat_long.longitude }})
    };
    var mapElement = document.getElementById('map');
    var map = new google.maps.Map(mapElement, mapOptions);
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{ lat_long.latitude }}, {{ lat_long.longitude }}),
        map: map,
        title: '{{ location }}'
    });
    {% for property in properties %}
    marker = new google.maps.Marker({
        position: new google.maps.LatLng({{ property.latitude }}, {{ property.longitude }}),
        map: map,
        title: '{{ property.name }}'
    });
    {% endfor %}
}
</script>