{# I should work out a proper method of setting the action url #}
<form method="POST" action="/properties">
    {# honeypot - set display hidden in css#}
    <input name="email" type="email" />
    <input name="location" type="text" placeholder="Location" {% if location %}value="{{ location }}"{% endif %} />
    <button type="submit">Find Properties</button>
</form>