<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/estateagent/landlords/create/') ?>"
        class="btn btn-primary oc-icon-plus">New</a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete these Landlords?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete
    </button>

</div>
