
<?php $url = rtrim(rtrim(url()->current(), "/create"), "/update"); ?>
<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= $url; ?>"><?= $this->vars['formRecordName']; ?></a></li>
    <li><?= $this->pageTitle; ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class'=>'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
            type="button"
            data-request="onSave"
            data-request-data="close:true"
            data-hotkey="ctrl+enter, cmd+enter"
            data-load-indicator="Saving..."
            class="btn btn-primary">
            Save and Close
        </button>
        <span class="btn-text">
            or <a href="<?= $url; ?>">Cancel</a>
        </span>
    </div>
</div>

<?= Form::close() ?>

<?php else: ?>
<div class="control-breadcrumb">
    <?= Block::placeholder('breadcrumb') ?>
</div>
<div class="padded-container">
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= $url; ?>" class="btn btn-default">Return</a></p>
</div>
<?php endif ?>